@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700');

* {
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

/* Navbar */

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: center;
    font-size: 1.2rem;
    height: 70px;
    line-height: 70px;
    
}
.menu {
    margin: 0 30px 0 0;
}
.menu .nav-link {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

.menu .nav-link:hover {
    border-bottom: 1.4px solid #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}



/* Footer  */

.footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.copyright {
    padding: 2.5rem;
}

.social-links a {
    padding: 0.5rem;
}
@media only screen and (max-width: 768px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }

    .footer {
        display: block;
        width: 100%;
        height: 10rem;
		margin-top: 2px;
		text-align: center;
    }


    
}
